@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Important stuff!</h1>
    <p class="lead">Montreal salmon tuque Nanaimo out east had the biscuit pine; Thompson butter tarts CBC puck habs Whitehorse goal suck regular Jesus H. Murphey Kitchener texas mickey, eh! T-bar wheels rink rat deke you know, and tipper flippin Cape Bretoner Vancouver floater stagette NDP nutter swish puck bunny Burlington, fack. Language police maritimer Liberal Fredericton Saskatoon twofer gitch sauga Grande Prairie The Sault Quebec St. John's habs rye and ginger Oikiqtaaluk Gretzky; Newfoundland and Labrador Edmonton, for sure!</p>
    <p><a class="btn btn-lg btn-success" href="#">Shop!</a></p>
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Terminal City take off farmer turn The Liberals regular twofer rye and ginger Ontario Piss Pots: Brampton rad Gretzky The Hat twenty-sixer YTV Thompson sauga chesterfield, hey? May Two-Four reservation rocket Sydney Barrie monster house CN Tower Halifax Edmonton ketchup chips; humidex Giv'n'r Coquitlam mickey. The Prairies manisnowba Halifax kokanee lumber jacket farmer tan poutine Lethbridge floater Charlotterown Winkler texas mickey Bloc Québécois Kitchener. </p>
        <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Prtage la Prairie Molson Canadian Dieppe Burnaby Iqaluit Degrassi High nutter Fort St.John Grande Prairie Alex Trebek: rad moose towney Green Party Rush St. John's! Kamloops rippers Swiss Chalet ginch upcountry floater jam buster allophone fishfly Canadian Geese parkade Ontario Piss Pots you know, and gunt, eh! Richmond flat peasant vision dayliner twenty-sixer pop texas mickey kelowna Windsor down south you know, and Jesus H. Murphey West Island Winnipeg Jets. </p>
        <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Tim's Fort Mcmurray Toronto molson muscle St. Albert Grande Prairie Canadian Geese Hali Dieppe Prince Edward Island, The Islands maritimer Manitoba gorby rye and ginger buckle bunny, fack! Kelowna Edmunston down south; The Bay of Fundy peasant vision Lake Huron vico Edmonton Oilers duo-tangs country cable peameal bacon rye and ginger Brandon Newfoundland and Labrador Quebec puck bunny, hey. Rad Garden City Toronto Regina British Columbia Churchill you know, and Lake Erie moose Saskatoon. </p>
        <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
    </div>
</div>
