@model List<MBACNationals.ReadModels.Participants.Participant>

@{
    ViewBag.Title = "Index";
}

<h2>Participants</h2>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name + item.TeamId, "View", new { @item.Id })
        </li>
    }
</ul>

@Html.Partial("_CreateParticipant", new MBACNationals.ReadModels.Participants.Participant())

@Html.Partial("_CreateTeam", new MBACNationals.ReadModels.Teams.Team())