<div data-ng-app="app">
    <div class="container" data-ng-controller="ContingentController">
        <h2>{{model.Province}} Contingent</h2>

        <div class="row">
            <h4>Delegates:</h4>
            <ul>
                <li data-ng-repeat="delegate in model.Delegates">
                    {{delegate.Name}}
                </li>
            </ul>
        </div>
        
        <div class="row">
            <h4>Teams:</h4>
            <div class="col-xs-3" data-ng-repeat="team in model.Teams">
                <h5>{{team.Name}}</h5>
                <ol>
                    <li data-ng-show="team.Coach.Name">Coach: {{team.Coach.Name}}</li>
                    <li data-ng-repeat="bowler in team.Bowlers">
                        {{bowler.Name}}
                    </li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <h4>Guests:</h4>
            <ul>
                <li data-ng-repeat="guest in model.Guests">
                    {{guest.Name}}
                </li>
            </ul>
        </div>
    </div>
</div>