<div data-ng-app="app">
    <div class="container" data-ng-controller="ContingentController">
        <h2>{{model.Province}} Contingent</h2>

        <div class="row">
            <h4>Delegates:</h4>
            <div class="col-xs-3">
                <span data-ng-repeat="team in model.Teams">
                    <span data-ng-repeat="delegate in team.Bowlers | filter: { IsDelegate: true }">
                        <a data-ng-click="editParticipant(delegate, team);">
                            {{delegate.Name}} 
                        </a> 
                    </span>
                </span>
                <span data-ng-repeat="delegate in model.Guests | filter: { IsDelegate: true }">
                    <a data-ng-click="editParticipant(delegate, team);">
                        {{delegate.Name}} 
                    </a> 
                </span>
            </div>
        </div>
        
        <div class="row">
            <h4><a data-ng-click="editDivisions(model.Teams);">Teams:</a></h4>
            <div class="col-xs-3" data-ng-repeat="team in model.Teams" data-ng-show="team.Selected">
                <h5><a data-ng-click="editTeam(team);">{{team.Name}}</a></h5>                
                <ol>
                    <li data-ng-show="team.Coach.Name">Coach: {{team.Coach.Name}}</li>
                    <li data-ng-repeat="bowler in team.Bowlers">
                        <a data-ng-click="editParticipant(bowler, team);">
                            {{bowler.Name || 'Vacancy'}} 
                        </a>                        
                        <span data-ng-show="bowler.IsRookie">**</span>
                    </li>
                </ol>
            </div>
        </div>
        
        <div class="row">
            <h4><a data-ng-click="editGuests(model.Teams);">Guests:</a></h4>
            <ul>
                <li data-ng-repeat="guest in model.Guests">
                    {{guest.Name}}
                </li>
            </ul>
        </div>
    </div>
</div>