<button type="button" class="back btn btn-lg" data-ng-click="Back()">Back</button>

<h2>{{model.Division}}</h2>
<h4>Pick the game</h4>

<div data-ng-repeat="game in model.Schedule.Games | unique: 'Number'">
    <button type="button" class="col-xs-4 btn btn-lg btn-primary" data-ng-class="{'btn-success':game.IsComplete}" data-ng-hide="game.IsComplete && !showCompleted" data-ng-click="Page('Match', { Game: game })">{{game.Number}}</button>
</div>

<h4>
    <label><input type="checkbox" data-ng-model="showCompleted" />Show Completed</label>
</h4>